<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
  <title>Twitter Direct Messages Push</title>

  <style type="text/css">
    body, h1, p, ul, li {
      margin: 0;
      padding: 0;
    }
    body {
      background: #fff;
      color: #000;
      width: 384px;
      font-family: Georgia, serif;
      font-size: 16px;
    }
    h1 {
      font-family: Arial, sans-serif;
      font-size: 28px;
      background: url(<%= url('/img/hr_thick.png') %>) 0 100% no-repeat;
      padding: 12px 0 16px 0;
      margin-bottom: 15px;
    }
    .person {
      font-size: 20px;
      line-height: 24px;
    }
    .person-address {
      display: inline-block;
      font-weight: bold;
      width: 45px;
      margin-right: 3px;
      vertical-align: top;
    }
    .person-name {
      display: inline-block;
      font-weight: bold;
      width: 331px;
    }

    .message {
      margin-top: 15px;
      margin-bottom: 15px;
      width: 384px;
      background: url(<%= url('/img/message_body.png') %>) 0 0 repeat-y;
    }
    .message .person {
      padding-top: 13px;
      background: url(<%= url('/img/message_top.png') %>) 0 0 no-repeat;
      padding-left: 15px;
      padding-right: 11px;
    }
    .message .person-address {
      width: 65px;
      margin-right: 1px;
    }
    .message .person-name {
      font-weight: normal;
      width: 287px;
    }
    .message-body {
      margin-top: 11px;
      border-top: 1px solid #000;
      padding-top: 16px;
      margin-left: 11px;
      margin-right: 11px;
      padding-bottom: 20px;
      border-bottom: 1px solid #000;
      margin-bottom: 14px;
    }
    .message-avatar {
      margin-right: 12px;
      display: inline-block;
      vertical-align: top;
      margin-top: 5px;
    }
    .message-text {
      width: 287px;
      display: inline-block;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
    }
    .message-time {
      padding-left: 11px;
      padding-right: 11px;
      font-size: 20px;
      padding-bottom: 18px;
      background: url(<%= url('/img/message_bottom.png') %>) 0 100% no-repeat;
    }
  </style>

</head>
<body>

  <h1>New Twitter Direct Message</h1>

  <p class="person">
    <span class="person-address">For:</span>
    <span class="person-name"><%= messages[0][:recipient][:name] %> (@<%= messages[0][:recipient][:screen_name] %>)</span>
  </p>

  <ul>
  <% messages.each do |m| %>
    <li class="message">
      <p class="person">
        <span class="person-address">From:</span>
        <span class="person-name"><%= messages[0][:sender][:name] %> (@<%= messages[0][:sender][:screen_name] %>)</span>
      </p>
      <p class="message-body">
        <img src="<%= m[:sender][:profile_image_url] %>" class="message-avatar dither" width="59" height="59" />
        <span class="message-text">
          <%= m[:text].gsub(/(\r)?\n/, "<br/>") %>
        </span>
      </p>
      <p class="message-time"><%= m[:created_at].strftime('<strong>%l:%M %p</strong>, %-d %B %Y') %></p>
    </li>
  <% end %>
  </ul>

</body>
</html>
